@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "goldplay";
  src: url("../../fonts/goldplay/Goldplay-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media all and (max-width: 767px) {
  #headBox {
    width: 100%;
    height: 60px;
    padding: 4px;
    background-color: #FBF4E4;
  }

  .navBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .navBox h1 {
    width: auto;
    height: 50px;
    padding: 10px;
  }

  .nav_area {
    width: 50px;
    height: 50px;
    background-image: url(/img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav_area .nav_inner {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #headBox {
    width: 100%;
    height: 80px;
    padding: 14px;
    background-color: #FBF4E4;
  }

  .navBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .navBox h1 {
    width: auto;
    height: 50px;
    padding: 10px;
  }

  .nav_area {
    width: 50px;
    height: 50px;
    background-image: url(/img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav_area .nav_inner {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #headBox {
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
    line-height: 60px;
    font-family: "SpoqaHanSansNeo-Bold";
    background-color: #FBF4E4;
  }

  .navBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .navBox h1 {
    width: auto;
    height: 60px;
    padding-top: 10px;
  }

  .nav_area {
    width: 700px;
    height: 100%;
  }
  .nav_inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .nav_inner li {
    width: 100px;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
  }
}
@media all and (min-width: 1440px) {
  #headBox {
    width: 100%;
    min-width: 1440px;
    height: 100px;
    margin: auto;
    padding: 20px;
    text-align: center;
    line-height: 60px;
    background-color: #FBF4E4;
  }

  .navBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .navBox h1 {
    width: auto;
    height: 60px;
    padding-top: 10px;
  }

  .nav_area {
    width: 700px;
    height: 100%;
  }
  .nav_inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .nav_inner li {
    width: 100px;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    font-family: "SpoqaHanSansNeo-Bold";
  }
}
@media all and (max-width: 767px) {
  #mainBox {
    width: 100%;
    height: 812px;
    background-color: #eee;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #mainBox {
    width: 100%;
    height: 960px;
    background-color: #eee;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #mainBox {
    width: 100%;
    height: 960px;
    background-color: #eee;
  }
}
@media all and (min-width: 1440px) {
  #mainBox {
    position: relative;
    width: 100%;
    min-width: 1440px;
    height: 960px;
    margin: auto;
    font-family: "goldplay";
    background-color: #FBF4E4;
  }
  #mainBox h2 {
    position: absolute;
    top: 100px;
    left: 660px;
    z-index: 100;
    width: 780px;
    height: 500px;
  }
  #mainBox h2 span {
    display: block;
    width: 100%;
    height: 130px;
    font-size: 120px;
    color: #FB4300;
  }
  #mainBox h2 span:last-child {
    color: transparent;
    -webkit-text-stroke: 2px #FB4300;
  }

  .main_img {
    position: absolute;
    top: 300px;
    width: 1040px;
    height: 614px;
  }
}
@media all and (max-width: 767px) {
  #viewBox {
    width: 100%;
    height: 850px;
    background-color: #ddd;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #viewBox {
    width: 100%;
    height: 1080px;
    background-color: #ddd;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #viewBox {
    width: 100%;
    height: 1080px;
    background-color: #ddd;
  }
}
@media all and (min-width: 1440px) {
  #viewBox {
    width: 100%;
    min-width: 1440px;
    height: 1080px;
    margin: auto;
    background-color: #ddd;
  }
}
@media all and (max-width: 767px) {
  #contentBox {
    width: 100%;
    height: 850px;
    background-color: #ccc;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #contentBox {
    width: 100%;
    height: 1080px;
    background-color: #ccc;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #contentBox {
    width: 100%;
    height: 1080px;
    background-color: #ccc;
  }
}
@media all and (min-width: 1440px) {
  #contentBox {
    width: 100%;
    min-width: 1440px;
    height: 1080px;
    margin: auto;
    background-color: #ccc;
  }
}
@media all and (max-width: 767px) {
  #artBox {
    width: 100%;
    height: 850px;
    background-color: #eee;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #artBox {
    width: 100%;
    height: 1080px;
    background-color: #eee;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #artBox {
    width: 100%;
    height: 1080px;
    background-color: #eee;
  }
}
@media all and (min-width: 1440px) {
  #artBox {
    width: 100%;
    min-width: 1440px;
    height: 1080px;
    margin: auto;
    background-color: #eee;
  }
}
@media all and (max-width: 767px) {
  #slideBox {
    width: 100%;
    height: 700px;
    background-color: #cdc;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #slideBox {
    width: 100%;
    height: 1000px;
    background-color: #cdc;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #slideBox {
    width: 100%;
    height: 1000px;
    background-color: #cdc;
  }
}
@media all and (min-width: 1440px) {
  #slideBox {
    width: 100%;
    min-width: 1440px;
    height: 1000px;
    margin: auto;
    background-color: #cdc;
  }
}
@media all and (max-width: 767px) {
  #appBox {
    width: 100%;
    height: 830px;
    background-color: #ddd;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #appBox {
    width: 100%;
    height: 1200px;
    background-color: #ddd;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #appBox {
    width: 100%;
    height: 1220px;
    background-color: #ddd;
  }
}
@media all and (min-width: 1440px) {
  #appBox {
    width: 100%;
    min-width: 1440px;
    height: 1220px;
    margin: auto;
    background-color: #ddd;
  }
}
@media all and (max-width: 767px) {
  #subBox {
    width: 100%;
    height: 560px;
    background-color: #cdc;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #subBox {
    width: 100%;
    height: 800px;
    background-color: #cdc;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #subBox {
    width: 100%;
    height: 750px;
    background-color: #cdc;
  }
}
@media all and (min-width: 1440px) {
  #subBox {
    width: 100%;
    min-width: 1440px;
    height: 752px;
    margin: auto;
    background-color: #cdc;
  }
}
@media all and (max-width: 767px) {
  #footBox {
    width: 100%;
    height: 600px;
    background-color: #ccc;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #footBox {
    width: 100%;
    height: 870px;
    background-color: #ccc;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #footBox {
    width: 100%;
    height: 760px;
    background-color: #ccc;
  }
}
@media all and (min-width: 1440px) {
  #footBox {
    width: 100%;
    min-width: 1440px;
    height: 760px;
    margin: auto;
    background-color: #ccc;
  }
}

/*# sourceMappingURL=dalkomm.css.map */
