// dalkomm.scss

@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goldplay';
  src: url('../../fonts/goldplay/Goldplay-Bold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}


@import "../common/mixin";
@import "../common/variable";

@import "../page/1headBox";
@import "../page/2mainBox";
@import "../page/3viewBox";
@import "../page/4contentBox";
@import "../page/5artBox";
@import "../page/6slideBox";
@import "../page/7appBox";
@import "../page/8subBox";
@import "../page/9footBox";